In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

# Data Loading

In [3]:
df = pd.read_csv("../data/Concrete_Discrete_16032021.csv")
df = df[df.invalid_response == 0]
df = df[["Response.x", "Concrete.Level"]]
df = df.rename(columns={"Response.x":"Response", "Concrete.Level":"Concrete"})
df = df.dropna()
df.head()

                                            Response Concrete
0  I would come up with some possible suggestions...     High
1  I would think of a close friend or family memb...   Medium
2  Make a plan to reach out to friends and family...   Medium
3  I would firstly engage in having a coffee with...   Medium
4  This morning I feel lonely as I haven't seen a...   Medium

## Train test split

In [4]:
df_train, df_test = train_test_split(
  df,
  stratify=df.Concrete,
  test_size=0.2
)
df_val, df_test = train_test_split(
  df_test,
  stratify=df_test.Concrete,
  test_size=0.5
)

In [5]:
df_train.shape, df_val.shape, df_test.shape

((867, 2), (108, 2), (109, 2))

In [6]:
df_train.to_csv("../data/Concrete_train_10042021.csv")
df_test.to_csv("../data/Concrete_test_10042021.csv")
df_val.to_csv("../data/Concrete_val_10042021.csv")