In [17]:
import pandas as pd

#Load datasets
df1 = pd.read_csv('CAREStudy_ProbSolv_NLP_Rated_18Jan2021.csv')
df2 = pd.read_csv('SocDist_AllSurveys_Knitted_Clean_v06.csv')
df3 = pd.read_csv('SocDist_ForAnalysis.csv')

In [15]:
df1.head()

   Participant                              Study.ID  ... Emotion  invalid
0            1                   Katey_l@hotmail.com  ...     2.5        0
1            2                 andrea_nathan@msn.com  ...     1.5        0
2            3                 thehastings@gmail.com  ...     1.5        0
3            4  jackie.s@brucerockengineering.com.au  ...     2.0        0
4            5             Marianna.peca@outlook.com  ...     1.5        0

[5 rows x 25 columns]

In [18]:
# Make sure key column is equivalent by setting emails to lowercase
df1['Study.ID'] = df1['Study.ID'].str.lower()
df2['Study.ID'] = df2['Study.ID'].str.lower()
df3['Study.ID'] = df3['Study.ID'].str.lower()

df1.head()

   Participant                              Study.ID  ... Emotion  invalid
0            1                   katey_l@hotmail.com  ...     2.5        0
1            2                 andrea_nathan@msn.com  ...     1.5        0
2            3                 thehastings@gmail.com  ...     1.5        0
3            4  jackie.s@brucerockengineering.com.au  ...     2.0        0
4            5             marianna.peca@outlook.com  ...     1.5        0

[5 rows x 25 columns]

In [19]:
# Merge full dataset
df_full = df1.merge(df2, on='Study.ID')
df_full.head()

   Participant  ... SleepProbScore.14
0            1  ...               NaN
1            2  ...               NaN
2            3  ...               NaN
3            4  ...               NaN
4            5  ...               NaN

[5 rows x 236 columns]

In [22]:
#Save merged full dataset
df_full.to_csv('SocDist_AllSurveys_Merged_19012021.csv', index=False)

In [23]:
# Merge short dataset
df_short = df1.merge(df3, on='Study.ID')
df_short.head()

   Participant               Study.ID  ... HADS_Anx.Group  Age.Group
0            1    katey_l@hotmail.com  ...           High      25-44
1            1    katey_l@hotmail.com  ...           High      25-44
2            1    katey_l@hotmail.com  ...           High      25-44
3            2  andrea_nathan@msn.com  ...            Low      25-44
4            2  andrea_nathan@msn.com  ...            Low      25-44

[5 rows x 42 columns]

In [24]:
#Save merged short dataset
df_short.to_csv('SocDist_ForAnalysis_Merged_19012021.csv', index=False)